bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
coverage.*
*.coverprofile
profile.cov
content.txt
vendor/
go.work
go.work.sum
.env
.idea/
.vscode/
.github/
.task/
*.test
*.test.exe
*.out
*.coverprofile
coverage.txt
profile.cov
/tmp/
.golangci.yml
revive.toml